body{
    margin: 0;                
    padding: 0;               
    background: #7dc7b7;       
    font-family: Arial, sans-serif;
    display: flex;            
    justify-content: center; 
    align-items: center;     
    height: 100vh; 
}
.ld_Esquerdo{
    background: #44c8fc;         
    padding: 20px;                
    width: 200px;                 
    height: 350px;
    display: flex;     
    flex-direction: column;              
    text-align: center;
}
.ld_Esquerdo h1{
    font-family: 'Comic Neue', cursive;
    font-size: 27px;
}
.ld_Esquerdo p{
    margin-top: 50px;
    text-align: center;
    font-size: 15px;
}

.ld_Direito{
    background: #ffffff;         
    padding: 20px;                
    width: 350px;                 
    height: 350px;
    display: flex;    
    flex-direction: column;               
    text-align: center;
    align-items: center; 
}
.ld_Direito p{
    margin-top: 5px;
    font-size: 12.5px;
}       
video{
    width: 350px;
    border: 1.5px solid rgb(0, 0, 0);
    border-top: 1.5px solid rgb(0, 0, 0);

}
.Matematica{
    padding: 10px;      
    border: none;           
    text-align: center;
    border-radius: 4px;        
    background: #0084ff;       
    color: #ffffff;             
    font-weight: bold;           
    cursor: pointer;           
    text-decoration: none;
    margin-top: 20px;
}
.Matematica:hover{
    background-color: #155b9c
}
.Portugues{
    padding: 10px;           
    border: none;               
    text-align: center;
    border-radius: 4px;          
    background: #0084ff;         
    color: #ffffff;              
    font-weight: bold;           
    cursor: pointer;            
    text-decoration: none;
    margin-top: 10px;
}
.Portugues:hover{
    background-color: #155b9c;
}
.Desenho{
    padding: 10px;           
    border: none;               
    text-align: center;
    border-radius: 4px;          
    background: #0084ff;         
    color: #ffffff;              
                font-weight: bold;           
    cursor: pointer;            
    text-decoration: none;
    margin-top: 10px;
}
.Desenho:hover{
    background-color: #155b9c
}